<html>
 <head>
  <meta charset="utf-8">
  <title> Rule 편집 </title>
  <script type="text/javascript">
  </script>
 </head>
 
 <body>
    <div>Jinja Test : {{title}} - {{mu}}</div>
    <hr>
    <h1>Jinja Test : {{title | safe}}</h1>
    <h2>Jinja Test : {{title}}</h2>
    {{ "}}>> <strong>Strong Text</strong>" | escape }}
    <hr>
    {{ "<strong>Strong1</strong>" | safe}}
    <hr>
    {{ "<strong>Strong2</strong>" | striptags}}
    <hr>
    {{ "<strong>Strong3</strong>" | striptags}}
    <hr>
        <ul>
            {% for item in lst %}
                <li>{{item[0]}} : {{item[1]}} - {{loop.index}}</li>
            {% endfor %}
        </ul>

    <br>
 	Rule
    <select id="lstFavorite">
        <option value="">- 선택 -</option>
        <option value="XHTML">결합 스코어 Cut-Off</option>
        <option value="javaScript">AS 등급 Cut-Off</option>
        <option value="CSS">연체 경험자 스코어 등급 Cut-Off</option>
    </select>
    조건 
    <select id="lstFavorite">
        <option value="">- 선택 -</option>
        <option value="XHTML"><</option>
        <option value="javaScript">></option>
        <option value="CSS">=</option>
    </select>
    <hr>
    <pre>
{% raw %}
{% if True %}
TTT
{% endif %}
{% endraw %}

ttt 한글
{% if False %}
    TTT
{%- endif -%}qqq
    </pre>
 
    <input type="button" value="확인" onclick="CheckSelect();"/>
 
 </body>
</html>