<html>
 <head>
  <meta charset="utf-8">
  <title> Rule 편집 </title>
  <script type="text/javascript">
  </script>
 </head>
 
 <body>
    <br/>
 	Rule
    <select id="lstFavorite">
        <option value="">- 선택 -</option>
        <option value="XHTML">결합 스코어 Cut-Off</option>
        <option value="javaScript">AS 등급 Cut-Off</option>
        <option value="CSS">연체 경험자 스코어 등급 Cut-Off</option>
    </select>
    조건 
    <select id="lstFavorite">
        <option value="">- 선택 -</option>
        <option value="XHTML"><</option>
        <option value="javaScript">></option>
        <option value="CSS">=</option>
    </select>
 
    <input type="button" value="확인" onclick="CheckSelect();"/>
 
 </body>
</html>